<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shixun.ihome.publicservice.mapper.IDetailtypeMapper" >
  <resultMap id="BaseResultMap" type="com.shixun.ihome.publicservice.pojo.IDetailtype" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
    <result column="servicetpye_id" property="servicetpyeId" jdbcType="INTEGER" />
    <result column="ddescribe" property="ddescribe" jdbcType="VARCHAR" />
    <result column="charge_type" property="chargeType" jdbcType="VARCHAR" />
    <result column="comm" property="comm" jdbcType="VARCHAR" />
    <result column="explains" property="explains" jdbcType="VARCHAR" />
    <result column="picturepath1" property="picturepath1" jdbcType="VARCHAR" />
    <result column="picturepath2" property="picturepath2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, typename, servicetpye_id, ddescribe, charge_type, comm, explains, picturepath1, 
    picturepath2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shixun.ihome.publicservice.pojo.IDetailtypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from i_detailtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from i_detailtype
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from i_detailtype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shixun.ihome.publicservice.pojo.IDetailtypeExample" >
    delete from i_detailtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shixun.ihome.publicservice.pojo.IDetailtype" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into i_detailtype (typename, servicetpye_id, ddescribe, 
      charge_type, comm, explains, 
      picturepath1, picturepath2)
    values (#{typename,jdbcType=VARCHAR}, #{servicetpyeId,jdbcType=INTEGER}, #{ddescribe,jdbcType=VARCHAR}, 
      #{chargeType,jdbcType=VARCHAR}, #{comm,jdbcType=VARCHAR}, #{explains,jdbcType=VARCHAR}, 
      #{picturepath1,jdbcType=VARCHAR}, #{picturepath2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shixun.ihome.publicservice.pojo.IDetailtype" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into i_detailtype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typename != null" >
        typename,
      </if>
      <if test="servicetpyeId != null" >
        servicetpye_id,
      </if>
      <if test="ddescribe != null" >
        ddescribe,
      </if>
      <if test="chargeType != null" >
        charge_type,
      </if>
      <if test="comm != null" >
        comm,
      </if>
      <if test="explains != null" >
        explains,
      </if>
      <if test="picturepath1 != null" >
        picturepath1,
      </if>
      <if test="picturepath2 != null" >
        picturepath2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="servicetpyeId != null" >
        #{servicetpyeId,jdbcType=INTEGER},
      </if>
      <if test="ddescribe != null" >
        #{ddescribe,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="comm != null" >
        #{comm,jdbcType=VARCHAR},
      </if>
      <if test="explains != null" >
        #{explains,jdbcType=VARCHAR},
      </if>
      <if test="picturepath1 != null" >
        #{picturepath1,jdbcType=VARCHAR},
      </if>
      <if test="picturepath2 != null" >
        #{picturepath2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shixun.ihome.publicservice.pojo.IDetailtypeExample" resultType="java.lang.Integer" >
    select count(*) from i_detailtype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update i_detailtype
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.typename != null" >
        typename = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.servicetpyeId != null" >
        servicetpye_id = #{record.servicetpyeId,jdbcType=INTEGER},
      </if>
      <if test="record.ddescribe != null" >
        ddescribe = #{record.ddescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeType != null" >
        charge_type = #{record.chargeType,jdbcType=VARCHAR},
      </if>
      <if test="record.comm != null" >
        comm = #{record.comm,jdbcType=VARCHAR},
      </if>
      <if test="record.explains != null" >
        explains = #{record.explains,jdbcType=VARCHAR},
      </if>
      <if test="record.picturepath1 != null" >
        picturepath1 = #{record.picturepath1,jdbcType=VARCHAR},
      </if>
      <if test="record.picturepath2 != null" >
        picturepath2 = #{record.picturepath2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update i_detailtype
    set id = #{record.id,jdbcType=INTEGER},
      typename = #{record.typename,jdbcType=VARCHAR},
      servicetpye_id = #{record.servicetpyeId,jdbcType=INTEGER},
      ddescribe = #{record.ddescribe,jdbcType=VARCHAR},
      charge_type = #{record.chargeType,jdbcType=VARCHAR},
      comm = #{record.comm,jdbcType=VARCHAR},
      explains = #{record.explains,jdbcType=VARCHAR},
      picturepath1 = #{record.picturepath1,jdbcType=VARCHAR},
      picturepath2 = #{record.picturepath2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shixun.ihome.publicservice.pojo.IDetailtype" >
    update i_detailtype
    <set >
      <if test="typename != null" >
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="servicetpyeId != null" >
        servicetpye_id = #{servicetpyeId,jdbcType=INTEGER},
      </if>
      <if test="ddescribe != null" >
        ddescribe = #{ddescribe,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        charge_type = #{chargeType,jdbcType=VARCHAR},
      </if>
      <if test="comm != null" >
        comm = #{comm,jdbcType=VARCHAR},
      </if>
      <if test="explains != null" >
        explains = #{explains,jdbcType=VARCHAR},
      </if>
      <if test="picturepath1 != null" >
        picturepath1 = #{picturepath1,jdbcType=VARCHAR},
      </if>
      <if test="picturepath2 != null" >
        picturepath2 = #{picturepath2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shixun.ihome.publicservice.pojo.IDetailtype" >
    update i_detailtype
    set typename = #{typename,jdbcType=VARCHAR},
      servicetpye_id = #{servicetpyeId,jdbcType=INTEGER},
      ddescribe = #{ddescribe,jdbcType=VARCHAR},
      charge_type = #{chargeType,jdbcType=VARCHAR},
      comm = #{comm,jdbcType=VARCHAR},
      explains = #{explains,jdbcType=VARCHAR},
      picturepath1 = #{picturepath1,jdbcType=VARCHAR},
      picturepath2 = #{picturepath2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="detailMap" type="com.shixun.ihome.publicservice.pojo.IDetailtype" extends="BaseResultMap">
    <id column="id" property="id"/>
    <association property="iServiceItem" javaType="com.shixun.ihome.publicservice.pojo.IServiceItem">
      <id column="sid" property="id" jdbcType="INTEGER" />
      <result column="detailtype_id" property="detailtypeId" jdbcType="INTEGER" />
      <result column="content" property="content" jdbcType="VARCHAR" />
      <result column="standard" property="standard" jdbcType="VARCHAR" />
      <result column="scomm" property="comm" jdbcType="VARCHAR" />

    </association>
  </resultMap>

  <select id="selectByid" parameterType="int" resultMap="detailMap">
        select d.*,s.id as sid,s.detailtype_id,s.content,s.standard,s.comm as scomm from i_detailtype d,i_service_item s where d.id=#{id} and d.id=s.detailtype_id
    </select>

  <select id="selectByname" parameterType="String" resultMap="BaseResultMap">
      select * from i_detailtype where typename like "%"#{typename}"%"
  </select>

</mapper>