<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shixun.ihome.publicservice.mapper.IEvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.shixun.ihome.publicservice.pojo.IEvaluate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="quality_valuation" property="qualityValuation" jdbcType="INTEGER" />
    <result column="attitude_valuation" property="attitudeValuation" jdbcType="INTEGER" />
    <result column="e_describe" property="eDescribe" jdbcType="VARCHAR" />
    <result column="finallytime" property="finallytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, order_id, quality_valuation, attitude_valuation, e_describe, finallytime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shixun.ihome.publicservice.pojo.IEvaluateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from i_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from i_evaluate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from i_evaluate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shixun.ihome.publicservice.pojo.IEvaluateExample" >
    delete from i_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shixun.ihome.publicservice.pojo.IEvaluate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into i_evaluate (order_id, quality_valuation, attitude_valuation, 
      e_describe, finallytime)
    values (#{orderId,jdbcType=INTEGER}, #{qualityValuation,jdbcType=INTEGER}, #{attitudeValuation,jdbcType=INTEGER}, 
      #{eDescribe,jdbcType=VARCHAR}, #{finallytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shixun.ihome.publicservice.pojo.IEvaluate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into i_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="qualityValuation != null" >
        quality_valuation,
      </if>
      <if test="attitudeValuation != null" >
        attitude_valuation,
      </if>
      <if test="eDescribe != null" >
        e_describe,
      </if>
      <if test="finallytime != null" >
        finallytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="qualityValuation != null" >
        #{qualityValuation,jdbcType=INTEGER},
      </if>
      <if test="attitudeValuation != null" >
        #{attitudeValuation,jdbcType=INTEGER},
      </if>
      <if test="eDescribe != null" >
        #{eDescribe,jdbcType=VARCHAR},
      </if>
      <if test="finallytime != null" >
        #{finallytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shixun.ihome.publicservice.pojo.IEvaluateExample" resultType="java.lang.Integer" >
    select count(*) from i_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update i_evaluate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.qualityValuation != null" >
        quality_valuation = #{record.qualityValuation,jdbcType=INTEGER},
      </if>
      <if test="record.attitudeValuation != null" >
        attitude_valuation = #{record.attitudeValuation,jdbcType=INTEGER},
      </if>
      <if test="record.eDescribe != null" >
        e_describe = #{record.eDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.finallytime != null" >
        finallytime = #{record.finallytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update i_evaluate
    set id = #{record.id,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      quality_valuation = #{record.qualityValuation,jdbcType=INTEGER},
      attitude_valuation = #{record.attitudeValuation,jdbcType=INTEGER},
      e_describe = #{record.eDescribe,jdbcType=VARCHAR},
      finallytime = #{record.finallytime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shixun.ihome.publicservice.pojo.IEvaluate" >
    update i_evaluate
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="qualityValuation != null" >
        quality_valuation = #{qualityValuation,jdbcType=INTEGER},
      </if>
      <if test="attitudeValuation != null" >
        attitude_valuation = #{attitudeValuation,jdbcType=INTEGER},
      </if>
      <if test="eDescribe != null" >
        e_describe = #{eDescribe,jdbcType=VARCHAR},
      </if>
      <if test="finallytime != null" >
        finallytime = #{finallytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shixun.ihome.publicservice.pojo.IEvaluate" >
    update i_evaluate
    set order_id = #{orderId,jdbcType=INTEGER},
      quality_valuation = #{qualityValuation,jdbcType=INTEGER},
      attitude_valuation = #{attitudeValuation,jdbcType=INTEGER},
      e_describe = #{eDescribe,jdbcType=VARCHAR},
      finallytime = #{finallytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="listMap" type="com.shixun.ihome.publicservice.pojo.IEvaluate"  extends="BaseResultMap">
    <id column="id" property="id"/>
      <association property="order" javaType="com.shixun.ihome.publicservice.pojo.IOrder" resultMap="com.shixun.ihome.publicservice.mapper.IOrderMapper.BaseResultMap">
    </association>

    <association property="detailtype" javaType="com.shixun.ihome.publicservice.pojo.IDetailtype" resultMap="com.shixun.ihome.publicservice.mapper.IDetailtypeMapper.BaseResultMap">
    </association>
  </resultMap>

  <select id="listByid" parameterType="int" resultMap="listMap">
     select * from i_evaluate e,i_order o,i_detailtype d,i_user u where
     o.user_id=#{userid} and e.order_id=o.id and o.detailtype_id=d.id

  </select>

  <select id="listBystaffid" parameterType="int" resultMap="listMap">
     select * from i_evaluate e,i_order_staff os,i_staff s,i_detailtype d,i_order o where s.id=1 and s.id=os.staff_id and os.order_id=o.id and e.order_id=o.id
  </select>

</mapper>