<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shixun.ihome.publicservice.mapper.IUserMapper" >
  <resultMap id="BaseResultMap" type="com.shixun.ihome.publicservice.pojo.IUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="weixin_id" property="weixinId" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, weixin_id, phone, name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shixun.ihome.publicservice.pojo.IUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from i_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from i_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from i_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shixun.ihome.publicservice.pojo.IUserExample" >
    delete from i_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shixun.ihome.publicservice.pojo.IUser" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into i_user (weixin_id, phone, name
      )
    values (#{weixinId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shixun.ihome.publicservice.pojo.IUser" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into i_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="weixinId != null" >
        weixin_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="weixinId != null" >
        #{weixinId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shixun.ihome.publicservice.pojo.IUserExample" resultType="java.lang.Integer" >
    select count(*) from i_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update i_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.weixinId != null" >
        weixin_id = #{record.weixinId,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update i_user
    set id = #{record.id,jdbcType=INTEGER},
      weixin_id = #{record.weixinId,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shixun.ihome.publicservice.pojo.IUser" >
    update i_user
    <set >
      <if test="weixinId != null" >
        weixin_id = #{weixinId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shixun.ihome.publicservice.pojo.IUser" >
    update i_user
    set weixin_id = #{weixinId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="userDetailsResultMap" type="com.shixun.ihome.publicservice.pojo.IUserDetail" >
    <id column="detailsId" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="orderPhone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="weixinResultMap" type="com.shixun.ihome.publicservice.pojo.IWeixin">
    <id column="wid" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="listUsers" type="com.shixun.ihome.publicservice.pojo.IUser" extends="BaseResultMap">
    <collection property="userDetail" ofType="com.shixun.ihome.publicservice.pojo.IUser" resultMap="userDetailsResultMap">
    </collection>
  </resultMap>
  <sql id="iUserDetail" >
    b.id as detailsId, b.user_id, b.province, b.city, b.detail, b.phone as orderPhone, b.status
  </sql>
  <select id="selectUsers" resultMap="listUsers">
    SELECT a.*,<include refid="iUserDetail"/>
    FROM i_user a,i_user_detail b
    where b.user_id=a.id
      <if test="name!=null">
        and a.name like "%"#{name}"%"
      </if>
      <if test="phone!=null">
        and a.phone like "%"#{phone}"%"
      </if>
  </select>

  <resultMap id="UserWeixinResultMap" type="com.shixun.ihome.publicservice.pojo.IUser" extends="BaseResultMap">
      <association property="weixin" resultMap="weixinResultMap" ></association>
  </resultMap>



  <select id="getOpenId" resultMap="UserWeixinResultMap" parameterType="Integer" >
SELECT u.id, u.weixin_id, u.phone, w.id as wid, w.open_id, w.position_id FROM i_user u left join i_weixin w on w.id = u.weixin_id where u.id = #{userId}
  </select>

  <select id="getuser" parameterType="int" resultType="com.shixun.ihome.publicservice.pojo.IUser">
    select * from i_user where id=#{userid}
  </select>
</mapper>